[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
alembic='*'
celery='*'
marshmallow = "*"
flask = "*"
loguru = "*"
flask-celeryext = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
python-dotenv = "*"
psycopg2 = "*"

[dev-packages]

[requires]
python_version = "3.11"
